PORT=5000
MONGO_URI='mongodb+srv://marhaba_cafe:marhaba@cluster0.qcxxyti.mongodb.net/?appName=Cluster0'
CLIENT_URL=http://localhost:3001
NODE_ENV=development

# Admin panel login — hardcoded credentials, no DB user table
ADMIN_EMAIL=admin@marhaba.com
ADMIN_PASSWORD=123454321
JWT_SECRET=qwerty
JWT_EXPIRES_IN=1d
